 @use 'color' as color;
 
 .footer {
    margin: 0;
    padding: 20px 0 20px 0;
    width: 100%;
    background-color: color.$dark-c;
    font-size: 0.8rem;
    text-align: center;
    color: color.$light-font-c;
  }
