@use 'color' as color;
@use 'base' as base;
@use 'fonts' as font;


.home-page {
    background-color: color.$primary;
    min-height: 100vh;

  }

  .hero {
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)),
      url(/images/provence1_dark2.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    position: relative;
  }


  .home-text {
    position: absolute;
    bottom: 0;

    min-height: 50vh;
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    padding: 30px;
  }

  .home-name-motto {
    line-height: 1.5;
    color: color.$primary;
  }


  .home-name {
    font-size: font.$hero-font-size-1;
    font-style: italic;

    @media screen and (min-width: base.$screen-width) {

      & {
        font-size: font.$hero-font-size-2;

      }

    }
  }

  .home-motto {

    font-size: font.$hero-motto-font-size-1;

    @media screen and (min-width: base.$screen-width) {

      & {
        font-size: font.$hero-motto-font-size-2;
      }

    }
  }

  .home-links {
    text-decoration: none;
    color: color.$primary;
  }

  .home-links:hover {
    font-style: italic;
    cursor: pointer;
  }

  .circles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 30px;
    flex-wrap: wrap;

    @media screen and (min-width: base.$screen-width) {

      & {
        flex-basis: 25%;
      }

    }

  }

  .circle {
    border-radius: 50%;
    width: 150px;
    min-height: 150px;

    text-align: center;
    justify-content: center;
    align-content: center;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: font.$small-font;
    color: color.$primary;

    @media screen and (min-width: base.$screen-width) {

      & {

        width: 200px;
        min-height: 200px;
        font-size: font.$small-bigger-font;
      }
    }
  }

  .circle-services {
    background-image: url(/images/circle1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
  }

  .circle-bigger:hover {

    transform: scale(1.1);
  }

  .circle-portfolio {
    background-image: url(/images/circle2.jpg);
  }

  .circle-blog {
    background-image: url(/images/circle3.jpg);
  }

  .circle-contact {
    background-image: url(/images/circle4.jpg);
  }
