:root {
  --primary: #fef7ff;
  --secondary: white;
  --light-font-c: #fef7ff;
  --menu-bg-color:#865a91;
  --spacer:30px;
}
*,
:after,
:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
html,
body,
div {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: var(--secondary);
}
.container {
  max-width: 80%;
  margin: 0 auto;
}

.page-headline {
  font-size: 3em;
}
h2 {
  font-size: 1.5em;
}

.section {
  padding: calc(var(--spacer) * 1.5) 0;
  margin: 0;
}

.odd-section {
  background-color: var(--secondary);
}
.even-section {
  background-color: var(--primary);
}

.smaller-headline {
  margin: calc(0.8 * var(--spacer)) 0;
}

/*breadcrubms*/
.breadcrumbs-list{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.breadcrumbs-item::before{
  content: "";
  display: inline-block;
  height: 1.5em;
  width: 2em;
  margin-bottom: -5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/chevron_fw.svg);

}
/*Menu*/

.header {
  min-height: 80px;
  background-color: #865a91;
}
.menu-picture {
  width: 100%;
  background-color: #282425;
  background-image: url(images/menu-bgr-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
}

.logo {
  width: 300px;
  margin: 10px 10px;
  position: absolute;
  bottom: -30px;
}

.name {
  display: flex;
  align-items: center;
  color: #fef7ff;
  position: relative;
}
.menu {
  background-color: #865a91;
  min-height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-shrink: 0;

  justify-content: space-between;
  align-items: center;
}
.menu-items {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li a {
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  text-transform: uppercase;
  color: #fef7ff;
  font-weight: bold;
}

.menu li a:hover {
  background-color: bisque;
  color: black;
}
.menu li:hover {
  background-color: bisque;
  color: black;
}

/*Footer*/

footer {
  margin: 0;
  padding: 20px 0 20px 0;
  width: 100%;
  background-color: #2e1e35;
  font-size: 0.8rem;
  text-align: center;
  color: var(--light-font-c);
}

/*Contact page*/

.about-me-info {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.photo-me {
  margin: 20px auto;
  width: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 2px silver;
}
.photo-architect {
  justify-self: center;
  align-self: center;
  flex: 0 0 calc(100% / 3);
  min-width: 250px;
  max-width: 300px;
}
.contact-info {
  justify-items: left;
  justify-self: center;
  width: 400px;
}
.contact-info-text {
  text-align: left;
}

/*form*/
form {
  width: 100%;
  max-width: 400px;
}

.form {
  justify-items: center;
}

.form-field label {
  display: block;
  font-size: 14px;
  color: rgb(77, 77, 77);
}

.form-field {
  margin-bottom: 10px;
}
.form-field input[type="text"],
.form-field input[type="email"],
.form-field textarea,
.form-field select {
  width: 100%;
  border-color: #865a91;
  background-color: #cacaca;
  color: rgb(66, 66, 66);
  padding: 5px;
  border-radius: 5px;
}

.button {
  background-color: #865a91;
  padding: 10px 30px;
  border-radius: 5px;
  border: 0;
  color: white;
  width: 100%;
}

.button:hover {
  background-color: #71447c;
  padding: 10px 30px;
  border-radius: 5px;
  border: 0;
  color: white;
}

/*Our services page*/

/*Price list table*/
table.price-list-table {
  border-spacing: 0px;
}

.price-list-table td:last-child,
.price-list-table th:last-child {
  text-align: right;
  padding-left: 50px;
}

.price-list-table td,
.price-list-table th {
  text-align: left;
  border-bottom: 2px solid #282425;
  padding: 10px 5px;
}

/*Thank you page*/
.thank-you-text {
  align-self: center;
  justify-self: center;
  min-height: 50vh;
  justify-content: center;
  padding: 30px;
}

/*Blog pages*/

.blog-link {
  text-decoration: none;
  color: #282425;
}

.list-item-checked {
  list-style-type: none;
}
.list-item-checked::before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/check_icon.svg);
}

@media screen and (min-width: 1100px) {
  .about-me-info {
    flex-direction: row;
  }
  .photo-architect {
    order: 2;
    max-width: 400px;
    position: relative;
  }
  .photo-me {
    position: absolute;
    bottom: -300px;
  }
  .about-me-text {
    order: 1;
  }
  .contact-info {
    justify-self: left;
  }
}
